<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/main-nav :: fragment}"></div>


<main class="container">
    <div class="p-2 p-md-5 mb-4 text-white rounded bg-dark d-flex justify-content-center">
        <div class="">
            <h1 class="display-4 fst-italic" th:text="#{title.books}"></h1>
            <table class="table table-hover table-dark">
                <thead class="">
                <tr>
                    <th th:text="#{table.head.book-name}"></th>
                    <th th:text="#{table.head.book-publisher}"></th>
                    <th th:text="#{table.head.book-date}"></th>
                    <th th:text="#{table.author}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <form action="#" method="get" th:action="@{/admin/update-book/__${book.book.id}__}"
                          th:object="${book.book}">
                        <td>
                            <button class="btn btn-link text-white" th:text="${book.book.name}" type="submit"></button>
                        </td>
                    </form>
                    <td th:text="${book.book.publisher}"></td>
                    <td th:text="${book.book.year}"></td>
                    <td>
                        <span th:each="author : ${book.authors}"
                              th:utext="${author.firstName + ' ' + author.secondName +'</br>' }"><br></span>
                    </td>
                    <form action="#" method="post" th:action="@{/admin/delete-book/__${book.book.id}__}"
                          th:object="${book.book}">
                        <td>
                            <button class="btn btn-secondary" th:text="#{button.delete}" type="submit"></button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</main>
</body>
</html>
