<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: fragment(title = #{title.authors})}"></div>

<body>

<div th:replace="~{fragments/main-nav :: fragment}"></div>

<main class="container border">
    <div class="p-2 p-md-5 mb-4 text-white rounded d-flex justify-content-center">
        <div class="container">
            <div class="row">


                <div class="col-md-6" th:each="author : ${authors}">
                    <form class=" bg-dark" method="get"
                          th:action="@{/get-author-info/__${author.id}__}" th:object="${author}">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <button class="btn btn-link text-white" type="submit">
                                    <h3 class="mb-0 " th:text="${author.secondName}"></h3>
                                </button>
                                <ul>
                                    <li th:text="${author.firstName}"></li>
                                    <li th:text="${author.birthday}"></li>
                                    <li th:text="${author.gender}"></li>
                                </ul>
                                <p>Описание автора ...</p>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                                     height="250"
                                     preserveAspectRatio="xMidYMid slice" role="img" width="200"
                                     xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>
                                    <rect fill="#55595c" height="100%" width="100%"/>
                                    <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                                </svg>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
