<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: fragment(title = #{title.books})}"></div>

<body>

<div th:replace="~{fragments/main-nav :: fragment}"></div>


<main class="container border ">
    <div class="p-2 p-md-5 mb-4 text-white rounded  d-flex justify-content-center">
        <div class="container">
            <div class="row">


                <div class="col-md-6" th:each="book : ${books}">
                    <form class=" bg-dark" method="get"
                          th:action="@{/books/__${book.book.id}__}" th:object="${book.book}">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <button class="btn btn-link text-white" type="submit">
                                    <h3 class="mb-0 " th:text="${book.book.name}"></h3>
                                </button>
                                <ul>
                                    <li>
                                        <span th:each="author : ${book.authors}"
                                              th:utext="${author.firstName + ' ' + author.secondName +'</br>' }"><br></span>
                                    </li>
                                    <li th:text="${book.book.publisher}"></li>
                                    <li th:text="${book.book.year}"></li>
                                </ul>
                                <p>Описание книги ...</p>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                                     height="250"
                                     preserveAspectRatio="xMidYMid slice" role="img" width="200"
                                     xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>
                                    <rect fill="#55595c" height="100%" width="100%"/>
                                    <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                                </svg>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
