<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: fragment(title = #{title.create-book})}"></div>

<body>

<div th:replace="~{fragments/main-nav :: fragment}"></div>

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark d-flex justify-content-center">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic" th:text="#{title.create-book}"></h1>
            <form method="post" th:action="@{/admin/new-book}" th:object="${bookAuthorDto}">
                <div class="form-row p-2">
                    <label for="inputName" th:text="#{label.book-name}"></label>
                    <div class="">
                        <input class="form-control" id="inputName" th:field="${bookDto.name}"
                               th:placeholder="#{placeholder.name}"
                               type="text">
                    </div>
                </div>
                <div class="form-group row p-2">
                    <label for="inputPublisher" th:text="#{label.book-publisher}"></label>
                    <div class="">
                        <input class="form-control" id="inputPublisher" th:field="${bookDto.publisher}"
                               th:placeholder="#{placeholder.publisher}"
                               type="text">
                    </div>
                </div>
                <div class="form-group row p-2">
                    <label for="inputYear" th:text="#{label.book-date}"></label>
                    <div class="">
                        <input class="form-control" id="inputYear" th:field="${bookDto.year}"
                               type="date">
                    </div>
                </div>
                <div class="form-group row">
                    <div class=" d-flex justify-content-center">
                        <div class="p-2">
                            <button class="btn btn-secondary p-2" name="action" th:text="#{button.add-author}"
                                    type="submit" value="CREATE_AUTHOR"></button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-secondary p-2" name="action" th:text="#{button.assign-author}"
                                    type="submit" value="ASSIGN_AUTHOR"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</main>
</body>
</html>
