<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
</head>
<body class="bg-light">
<div>
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center" th:text="#{registration.title}"></h4>
        <div th:text="${request}"></div>
        <form method="post" th:action="@{/registration}" th:object="${registrationRequest}">

            <div class="form-group input-group ">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{name}"
                       th:placeholder="#{registration.name}" type="text">
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                 th:if="${#fields.hasErrors('name')}" role="alert"> <!--th:errors="*{name}"-->
                <p th:each="err : ${#fields.errors('name')}" th:text="${err}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input class="form-control alert-dismissible fade show" th:field="*{surname}"
                       th:errorclass="is-invalid" th:placeholder="#{registration.surname}"
                       type="text">
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                 th:if="${#fields.hasErrors('surname')}" role="alert">
                <p th:each="err : ${#fields.errors('surname')}" th:text="${err}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input class="form-control" th:field="*{login}"
                       th:errorclass="is-invalid" th:placeholder="#{registration.login}"
                       type="text">
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                 th:if="${#fields.hasErrors('login')}" role="alert">
                <p th:each="err : ${#fields.errors('login')}" th:text="${err}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input class="form-control" th:field="*{email}"
                       th:errorclass="is-invalid" th:placeholder="#{registration.email}"
                       type="email">
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                 th:if="${#fields.hasErrors('email')}" role="alert">
                <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control"  required
                       th:field="*{password}"
                       th:errorclass="is-invalid" th:placeholder="#{registration.create.password}"
                       type="password">
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                 th:if="${#fields.hasErrors('password')}" role="alert">
                <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" id="ConfirmPassword" required
                       th:field="*{repeatedPassword}"
                       th:errorclass="is-invalid" th:placeholder="#{registration.repeat.password}"
                       type="password">
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                 th:if="${#fields.hasErrors('repeatedPassword')}" role="alert">
                <p th:each="err : ${#fields.errors('repeatedPassword')}" th:text="${err}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" th:text="#{registration.button.create}"
                        type="submit"></button>
            </div>
            <p class="text-center" th:text="#{registration.already-exist}"></p>
            <div class="form-group">
                <a class="btn btn-primary btn-block" href="/login" th:text="#{registration.button.login}"></a>
            </div>
        </form>
    </article>
</div>

</div>

</body>
</html>