<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

    </style>
</head>
<body>

<div class="container full-height d-flex align-items-center justify-content-center">
    <div class="container" style="width: 85%">

        <div class="container bg-primary d-flex align-items-center" style="height : 90px">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" th:href="@{/}"
                                       th:text="#{nav.home}"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" th:href="@{newBook}"
                                       th:text="#{nav.newBook}"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" th:href="@{authors}"
                                       th:text="#{nav.authorList}"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" th:href="@{newAuthor}"
                                       th:text="#{nav.newAuthor}"></a>
                                </li>
                            </ul>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" th:placeholder="#{nav.search}"
                                       aria-label="Search">
                                <button class="btn btn-outline-success" type="submit" th:text="#{nav.search}"></button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="container d-flex justify-content-center" style="width: 85%">
            <table class="table table-hover table-striped  ">
                <thead>
                <tr>
                    <th th:text="#{bookName}"></th>
                    <th th:text="#{bookPublisher}"></th>
                    <th th:text="#{bookDate}"></th>
                    <th th:text="#{table.Author}"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">

                    <form action="#" th:action="@{/updateBook/__${book.book.id}__}" th:object="${book.book}"
                          method="get">
                        <td>
                            <button type="submit" class="btn btn-link" th:text="${book.book.name}"></button>
                        </td>
                    </form>
                    <td th:text="${book.book.publisher}"></td>
                    <td th:text="${book.book.year}"></td>
                    <td>
                        <span th:each="author : ${book.authors}"
                        th:utext="${author.firstName + ' ' + author.secondName +'</br>' }"><br></span>
                    </td>
                    <form action="#" th:action="@{/deleteBook/__${book.book.id}__}" th:object="${book.book}"
                          method="post">
                        <td>
                            <button type="submit" class="btn btn-primary" th:text="#{button.delete}"></button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

</body>
</html>